@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #91172e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: var(--background-color);
}

footer {
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
}

footer a{
    font-weight: 700;
    text-decoration: underline;
}

footer a:visited {
    color: inherit;
}